body {
    min-width: inherit;
}
#wrapper {
    margin: 0 !important;
    padding-left: 0 !important;
    background-image: none !important;
}
#wrapper2 {
    padding-right: 0 !important;
    background-image: none !important;
}
#top-menu {
    overflow: hidden; /* FIXME temp. */
}
#header {
    overflow: hidden;
}
#quick-search {
    float: none;
}
#main-menu {
    position: static;
    clear: both;
}
#main-menu ul {
    width: 2000px;
}
#sidebar {
    float: none;
    width: auto;
    margin-left: 7px;
}
#content {
    width: auto !important;
}
.splitcontentleft,
.splitcontentright {
    float: none;
    width: auto;
}
.tabular p {
    padding-left: 0;
}
.tabular label {
    float: none;
    width: auto;
    margin-left: 0;
    display: block;
    text-align: left;
}
.tabular label:after {
    content: ':';
}
